body {
    font-family: Arial;
    margin: 0;
    padding: 10px;
    background: #f0f2f5;
}

h1, h2 {
    text-align: center;
}

.profile-header h2 {
    text-align: left;
    margin: 0;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    border-radius: 8px;
}

button {
    background: green;
    color: white;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
}

.progress {
    background: #ddd;
    height: 10px;
    border-radius: 5px;
}

.bar {
    background: green;
    height: 10px;
    border-radius: 5px;
}

.hapus {
    color: red;
    display: block;
    margin-top: 10px;
}

.btn-riwayat {
    display: block;
    margin-top: 10px;
    padding: 8px;
    background: blue;
    color: white;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
}

.riwayat-list {
    list-style: none;
    padding: 0;
}

.riwayat-list li {
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.logout {
    display: block;
    text-align: right;
    margin-bottom: 10px;
}

.back {
    display: block;
    margin-bottom: 15px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    position: relative;
}

.menu-btn {
    display: block;
    font-size: 24px;
    color: black;
    background: red; /* sementara buat debug */
    border: 1px solid black;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    background: white;
    min-width: 150px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropdown a:hover {
    background: #f0f0f0;
}