<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🔐 Login</h1>

<div class="card auth-box">
    <form method="POST" class="form-box">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button>Login</button>
    </form>

    <p style="text-align:center;">
        Belum punya akun?
        <a href="/register">Daftar</a>
    </p>
</div>

</body>
</html>