<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>📝 Register</h1>

<div class="card auth-box">
    <form method="POST" class="form-box">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button>Daftar</button>
    </form>

    <p style="text-align:center;">
        Sudah punya akun?
        <a href="/login">Login</a>
    </p>
</div>

</body>
</html>